{% extends 'base.html' %}
{% load static %}
{% block title %}About Me Page{% endblock %}
{% block content %}
<body>
<h1>Burning Questions</h1>
<h3>Who is Denis?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis delectus deserunt, doloribus dolorum, explicabo facere laboriosam minima, molestias natus nisi officiis quae quidem quod repellendus sapiente sint soluta unde veniam voluptates! Enim eum itaque maiores.</p>
<h3>What is he capable to do?</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam atque autem eligendi hic illum, inventore, libero, molestias mollitia necessitatibus praesentium rerum sint totam ullam vel. Animi corporis exercitationem illo optio perferendis quidem sequi. Est, expedita?</p>
<hr>
<h1>My History</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias animi corporis dicta eius explicabo facere tempora ullam veniam. Animi aperiam assumenda atque autem, eaque hic nam neque nesciunt odit pariatur quas, quibusdam, quis recusandae rem sapiente sed temporibus vitae.</p>


<h1>My Vision</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda obcaecati praesentium quasi.</p>
<h1>My Mission</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nemo quod sequi.</p>
<h1>My Core Values</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum laboriosam magnam suscipit!</p>
<h1>My Services</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet quibusdam quo?</p>
<h1>My Branches</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore esse harum veritatis?</p>
<h1>Contact me</h1>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. At autem est minus.


<div>
    <div class="about">
        <div>
        <h1>Skills</h1>
<ul>
    <li>Programming</li>
    <li>Planning</li>
    <li>Developing</li>
    <li>Managing</li>
    <li>Way planning</li>
</ul>
            </div>
    <div>
        <h1>Hobbies</h1>
<ul>
    <li>Developing</li>
    <li>Drawing</li>
    <li>Reading</li>
    <li>Researching</li>
</ul>
    </div>
        <div>
            <h1>Contact Information</h1>
            <table>
                <tr>
                    <th>NAME:</th>
                    <td>Denis Karani</td>
                </tr>
                <tr>
                    <th>PHONE NUMBER</th>
                    <td>0700063070</td>
                </tr>
                <th>Email:</th>
                <td>Elitedeniskarani@gmail.com</td>

            </table>
        </div>
</div>
    </div>

</body>
{% endblock %}