<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assest/style/main.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Denis Private Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_page' %}">List page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'Add_page' %}">Add_page</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Start overthinking
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'Add_page' %}">Add_page</a></li>
            <li><a class="dropdown-item" href="{% url 'about' %}">About Me page</a></li>
            <li><a class="dropdown-item" href="{% url 'project_achieved' %}">Project Achieved</a></li>
            <li><a class="dropdown-item" href="{% url 'Add_project' %}">Add Project </a></li>

          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>


<main>
    {% block content %}
    {% endblock %}
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>